html {
    font-size: 16;
    font-family: 'Aboreto', cursive;
    background-color: rgb(207, 108, 50);
}


header{
    background-color: mediumseagreen;
    height: 4rem;
    display: flex;
    align-items: center;
    padding-top: 1rem;
    display: block;
    margin: 0;
    
}

nav { 
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2rem;
    column-gap: 3rem;
    height: 3rem;
}

.nav a{
    font-size:1.5rem
}

.Banner{
    display:flex;
    justify-content: center;
    align-items: center;
    height:12rem;
}

.name-container{
    background-color: rgb(163, 131, 105);
    z-index: 100;
    width: 90%;
    height: 40%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.name-container h1{
    font-size: 2.5rem;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:10rem;
    margin-bottom:4rem;
    margin-left: 1.4rem;
}

.content.container{
    display: flex;
    flex-direction: column;
    height: 70%;
}

.content h2{
    color: yellow;
}

.content p{
    font-weight: bold;
}

.image-container{
    display:flex;
    flex-direction: row;
    height:30rem;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.image-container img{
    width:30%;
    min-width: 8rem;
}


.quote{
    background-color: aqua;
    height:10rem;
    display: flex;
    flex-direction: column;
    margin-left: 1.4rem;
    justify-content: center;
}

.quote p,h2{
    padding-left:1.5rem;
    
}


.final{
    display: flex;
    flex-direction: column;
    height: 60rem;
    align-items: center;
}

.final img {
    height: auto;
    width: 50%;
}

footer{
    background-color: mediumseagreen;
    height: 6rem;
    display: flex;
    align-items: center;
    padding-top: 1rem;
    display: block;
    margin: 0;
    font-weight: bold;
}

@media only screen and (max-width:480px) {
    nav{
       flex-direction: column;
       justify-content: flex-start;
       align-items: flex-start;
    }
    

}

@media only screen and (max-width:720px) {
    .quote {
        display:none;
    }

}
